<!DOCTYPE html>
<html lang="pl">
<head>
<meta charset="utf-8" />
<meta http-equiv="X-UA-Compatible" content="IE=edge" />
<title>{{ title }}</title>
<link rel="shortcut icon" type="image/png" href="/static/box_16.png"/>
<link rel="stylesheet" href="/static/style.css" />
<meta name="apple-mobile-web-app-capable" content="yes" />
<meta name="apple-mobile-web-app-status-bar-style" content="black" />
<meta name="apple-mobile-web-app-title" content="box" />
</head>

<body>

{% block header %}
{{ graczy_online }} graczy online
{% endblock %}

{% block title %}<h1>gry online, zagraj z innymi osobami</h1>{% endblock %}

{% block content %}

{% endblock %}

</body>