{% extends "base.html" %}

{% block title %}<h1>{{ gra.nazwa|lower }} online - zagraj</h1>{% endblock %}

{% block content %}

<div class="gra-main">
  <a class="gra-start" href="/game/{{ gra.id }}/tables">start - {{ gra.nazwa|lower }}</a>

  <div class="gra-opis">
  {{ gra.opis }}
  </div>

</div>
{% endblock %}