{% extends "base.html" %}

{% block title %}<h1>gry online, zagraj z innymi osobami</h1>{% endblock %}

{% block content %}

{% for rodzaj_gry in rodzaje_gier %}
    <div class="lista_rodzaj_gry">{{ rodzaj_gry.nazwa|upper }}:</div>
    {% for gra in rodzaj_gry.gry.all %}
        <div class="lista_gra"><a href="/game/{{ gra.id }}">{{ gra.nazwa|lower}}</a> ({{ gra.graczy_online }})</div>
    {% endfor %}
{% endfor %}

{% endblock %}