{% extends "base.html" %}

{% block header %}{% endblock %}
{% block title %}{% endblock %}

{% block content %}

<div class="lista-stolow">
  <div class="lista-stolow-header">
    <div class="lista-stolow-nowystol">
      <button>nowy stół do gry</button>
    </div>

  </div>

  <table class="lista-stolow-stol">
    <a href="">
      <div>#229</div>
      <div>5m, 1</div>
    </a>
  </table>
</div>


{% endblock %}