body {
  font: 13px/1.35 Verdana,sans-serif;
  width: 840px;
  margin: 0 auto;
}

h1 {
  background: #20c860 none repeat scroll 0 0;
  color: #fff;
  font: bold 18px Arial,sans-serif;
  margin: 0.7em 0 1.4em;
  padding: 3px 1.9em;
}

.lista_rodzaj_gry {
  border-bottom: 1px solid #e8e8e8;
  padding-top: 10px;
}

.lista_gra {
  padding: 3px 0;
}

.lista_gra a:link, .lista_gra a {
  border-bottom: 1px solid #18bc44;
  color: #18bc44;
  text-decoration: none;
  font: bold 18px Arial,sans-serif;
}

.gra-opis {
  color: gray;
}

.gra-main {
    text-align: center;
    background: #d8ffe8 none repeat scroll 0 0;
    padding: 1.25em 3em;
}

.gra-start {
  font-size: 18px;
  font-weight: bold;
  color: #18bc44;
  padding: 5px 30px;
  border: 2px solid #18bc44;
  border-radius: 5px;
  display: inline-block;
  min-width: 3.5em;
  text-decoration: none;
  margin-bottom: 1em;
}

.lista-stolow {
  border-color: #99eecc;
  border-style: solid;
  border-width: 0 8px;
  box-sizing: border-box;
  border-bottom: 40px solid #99eecc;
}

.lista-stolow-header {

  padding-left: 40px;
  vertical-align: middle;
  background: #99eecc none repeat scroll 0 0;
  height: 46px;

}

.lista-stolow-nowystol {
  display: table-cell;
  min-width: 340px;
}

.lista-stolow-nowystol button {
  margin-right: 1em;
  padding-bottom: 0.2em;
  padding-top: 0.2em;
}

.lista-stolow-stol td{
  border-bottom: 1px solid #e4e4e4;
  padding: 0;
  white-space: nowrap;
}

.lista-stolow-stol a {

}